<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="baidu-site-verification" content="kjcVmnqYYc" />
<meta name="baidu_union_verify" content="ca4092b0a77690fc62a85a6f60e23c45">
<meta name="keywords" content="姬成功,jicg,成功,姬成功个人博客,姬成功个人网站">
<meta name="description" content="姬成功个人博客,姬成功个人网站"/>
<meta name="viewport" content="width=device-width">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/public.css" >