<div id="header-nav" class="navbar navbar-default header " role="navigation">
        <div class="container w1010">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >归位的个人网站</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 2px;">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">首页</a></li>
            <li><a href="/about">个人介绍</a></li>
            <li><a href="/study">技术天地</a></li>
            
            <!--<li><a href="/products">开源项目</a></li>-->
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>