<!DOCTYPE html>
<html>
  	<head>
      <title>归位的个人博客-本人介绍</title>
      {{template "public/comm/head" .}}
	</head>
  <body>
    <div class="wap">
      {{template "public/comm/top" .}}
      <div class="container body w1010">
        <div class="featurette">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
              <div class="user-info">
                <div class="user-head">
                    <img class="img-circle img-bg-user" width="80px" src="/static/img/home/001.jpg">
                </div>
                <div class="user-biref">
                  <div class="cell">
                    <div class="desc">姓名</div>
                    <div class="value">归位</div>
                  </div>
                  <div class="cell">
                    <div class="desc">性别</div>
                    <div class="value">男</div>
                  </div>
                  <div class="cell">
                    <div class="desc">年龄</div>
                    <div class="value">100岁</div>
                  </div>
                  <div class="cell">
                    <div class="desc">祖籍</div>
                    <div class="value">江苏淮安</div>
                  </div>
                  <div class="cell">
                    <div class="desc">心态</div>
                    <div class="value">问天问地</div>
                  </div>
                </div>
                <div class="user-content">
                  <p style="font-size: 14px;text-indent:2em;">
                      陋室空堂，当年笏满床；衰草枯杨，曾为歌舞场。
                    蛛丝儿结满雕梁，绿纱今又在篷窗上。
                    说什么脂正浓，粉正香，如何两鬓又成霜？
                    昨日黄土陇头埋白骨，今宵红绡帐底卧鸳鸯。
                    金满箱，银满箱，转眼乞丐人皆谤。
                    正叹他人命不长，那知自己归来丧！
                    训有方，保不定日后作强梁；
                    择膏粱，谁承望流落在烟花巷！
                    因嫌纱帽小，致使锁枷扛；
                    昨怜破袄寒，今嫌紫蟒长。
                    乱哄哄，你方唱罢我登场，反认他乡是故乡。
                    甚荒唐，到头来，都是为他人做嫁衣裳！
                 </p>
               </div>
              </div>
            </div>


            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">

              <div class="row">
                <div class="title-line">
                    <span>个人简介</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <p style="font-size: 14px;text-indent:2em;text-align: left;">我叫归位，毕业于南信学院，现在上海就职。已经工作4～5年，一事无成，没房没车，光棍一个。本人的理想，自己弄出一个优秀的系统，赚许许多多的钱，最重要的是有个幸福的家庭。这就是我, 简简单单的我。</p>
                 </div>
              </div>

              <div class="row">
                <div class="title-line">
                  <span>我的知识</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <table class="table table-bordered">
                    <tr>
                      <th>语言</th>
                      <th>熟悉程度</th>
                      <th>项目经验</th>
                    </tr>
                    <tr>
                      <th>java</th>
                      <th>熟</th>
                      <th>参加过比赛，写过一些简单的系统。</th>
                    </tr>
                    <tr>
                      <th>c#</th>
                      <th>一般</th>
                      <th>写过一些客户端小程序，接触过wpf</th>
                    </tr>
                    <tr>
                      <th>php</th>
                      <th>一般</th>
                      <th><a target="_blank" href="https://github.com/jicg/chat">chat</a>，弄过微擎的二次开发</th>
                    </tr>
                    <tr>
                      <th>golang</th>
                      <th>初学，一般般</th>
                      <th>想作为以后主学语言</th>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="title-line">
                  <span>我的梦想</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <table class="table table-bordered" style="text-align: center;">
                    <tr>
                      <td>有个好身体</td>
                    </tr>
                    <tr>
                      <td>有个温馨的家庭</td>
                    </tr>
                    <tr>
                      <td>有一帮挚友</td>
                    </tr>
                    <tr>
                      <td>对社会有点贡献</td>
                    </tr>
                    <tr>
                      <td>天天开心</td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="row" style="text-align: center;">
                <div class="title-line">
                  <span>好东西</span>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                  <a target="_blank" href="https://github.com/jicg/easypos">
                    <img src="/static/img/home/about_04_01.jpg" class="img-circle img-bg-user"   alt="">
                  </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                  <a target="_blank" href="https://github.com/JpressProjects/jpress">
                    <img src="/static/img/home/about_04_02.jpg" class="img-circle img-bg-user"  alt="">
                  </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                  <a target="_blank" href="https://github.com/gogits/gogs">
                    <img src="/static/img/home/about_04_03.jpg" class="img-circle img-bg-user"   alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{template "public/comm/footer"}}
	</body>
</html>
